# Reading

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\nvak6\12-12-2024 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merge.pkl'))
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,match,Busiest day,Busiest days,Most orders,Busiest Hours,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,9.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
1,1,0,2539329,1,1,2,8,NaN,14084,2,...,12.5,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
2,2,0,2539329,1,1,2,8,NaN,12427,3,...,4.4,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
3,3,0,2539329,1,1,2,8,NaN,26088,4,...,4.7,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
4,4,0,2539329,1,1,2,8,NaN,26405,5,...,1.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN

In [4]:
df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 26)

In [6]:
df.groupby('product_name')

In [7]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [8]:
df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [9]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\nvak6\AppData\Local\Temp\ipykernel_27828\1681540670.py:1: FutureWarning: The provided callable <function max at 0x000001BD6729C5E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,match,Busiest day,Busiest days,Most orders,Busiest Hours,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,9.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
1,1,0,2539329,1,1,2,8,NaN,14084,2,...,12.5,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
2,2,0,2539329,1,1,2,8,NaN,12427,3,...,4.4,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
3,3,0,2539329,1,1,2,8,NaN,26088,4,...,4.7,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
4,4,0,2539329,1,1,2,8,NaN,26405,5,...,1.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
5,5,1,2398795,1,2,3,7,15.0,196,1,...,9.0,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
6,6,1,2398795,1,2,3,7,15.0,10258,2,...,3.0,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
7,7,1,2398795,1,2,3,7,15.0,12427,3,...,4.4,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
8,8,1,2398795,1,2,3,7,15.0,13176,4,...,10.3,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
9,9,1,2398795,1,2,3,7,15.0,26088,5,...,4.7,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
10,10,1,2398795,1,2,3,7,15.0,13032,6,...,4.0,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
11,11,2,473747,1,3,3,12,21.0,196,1,...,9.0,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
12,12,2,473747,1,3,3,12,21.0,12427,2,...,4.4,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
13,13,2,473747,1,3,3,12,21.0,10258,3,...,3.0,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
14,14,2,473747,1,3,3,12,21.0,25133,4,...,8.6,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer

In [12]:
pd.options.display.max_rows = None

In [13]:
ords_prods_merge.head(100)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,match,Busiest day,Busiest days,Most orders,Busiest Hours,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,9.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
1,1,0,2539329,1,1,2,8,NaN,14084,2,...,12.5,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
2,2,0,2539329,1,1,2,8,NaN,12427,3,...,4.4,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
3,3,0,2539329,1,1,2,8,NaN,26088,4,...,4.7,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
4,4,0,2539329,1,1,2,8,NaN,26405,5,...,1.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
5,5,1,2398795,1,2,3,7,15.0,196,1,...,9.0,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
6,6,1,2398795,1,2,3,7,15.0,10258,2,...,3.0,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
7,7,1,2398795,1,2,3,7,15.0,12427,3,...,4.4,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
8,8,1,2398795,1,2,3,7,15.0,13176,4,...,10.3,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
9,9,1,2398795,1,2,3,7,15.0,26088,5,...,4.7,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
10,10,1,2398795,1,2,3,7,15.0,13032,6,...,4.0,both,Regular busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
11,11,2,473747,1,3,3,12,21.0,196,1,...,9.0,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
12,12,2,473747,1,3,3,12,21.0,12427,2,...,4.4,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
13,13,2,473747,1,3,3,12,21.0,10258,3,...,3.0,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
14,14,2,473747,1,3,3,12,21.0,25133,4,...,8.6,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
15,15,2,473747,1,3,3,12,21.0,30450,5,...,3.2,both,Regular busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
16,16,3,2254736,1,4,4,7,29.0,196,1,...,9.0,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
17,17,3,2254736,1,4,4,7,29.0,12427,2,...,4.4,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
18,18,3,2254736,1,4,4,7,29.0,10258,3,...,3.0,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
19,19,3,2254736,1,4,4,7,29.0,25133,4,...,8.6,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
20,20,3,2254736,1,4,4,7,29.0,26405,5,...,1.0,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
21,21,4,431534,1,5,4,15,28.0,196,1,...,9.0,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
22,22,4,431534,1,5,4,15,28.0,12427,2,...,4.4,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
23,23,4,431534,1,5,4,15,28.0,10258,3,...,3.0,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
24,24,4,431534,1,5,4,15,28.0,25133,4,...,8.6,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
25,25,4,431534,1,5,4,15,28.0,10326,5,...,2.7,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
26,26,4,431534,1,5,4,15,28.0,17122,6,...,14.0,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
27,27,4,431534,1,5,4,15,28.0,41787,7,...,5.0,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
28,28,4,431534,1,5,4,15,28.0,13176,8,...,10.3,both,Least busy,Least busy,Most orders,Most orders,10,New customer,Low spender,Non-frequent customer
29,29,5,3367565,1,6,2,7,19.0,196,1,...,9.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
30,30,5,3367565,1,6,2,7,19.0,12427,2,...,4.4,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
31,31,5,3367565,1,6,2,7,19.0,10258,3,...,3.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
32,32,5,3367565,1,6,2,7,19.0,25133,4,...,8.6,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,Regular customer
33,33,6,550135,1,7,1,9,20.0,196,1,...,9.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
34,34,6,550135,1,7,1,9,20.0,10258,2,...,3.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
35,35,6,550135,1,7,1,9,20.0,12427,3,...,4.4,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
36,36,6,550135,1,7,1,9,20.0,25133,4,...,8.6,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
37,37,6,550135,1,7,1,9,20.0,13032,5,...,4.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
38,38,7,3108588,1,8,1,14,14.0,12427,1,...,4.4,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
39,39,7,3108588,1,8,1,14,14.0,196,2,...,9.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
40,40,7,3108588,1,8,1,14,14.0,10258,3,...,3.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
41,41,7,3108588,1,8,1,14,14.0,25133,4,...,8.6,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
42,42,7,3108588,1,8,1,14,14.0,46149,5,...,13.4,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
43,43,7,3108588,1,8,1,14,14.0,49235,6,...,1.8,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Regular customer
44,44,8,2295261,1,9,1,16,0.0,49235,1,...,1.8,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Frequent customer
45,45,8,2295261,1,9,1,16,0.0,46149,2,...,13.4,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Frequent customer
46,46,8,2295261,1,9,1,16,0.0,25133,3,...,8.6,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Frequent customer
47,47,8,2295261,1,9,1,16,0.0,196,4,...,9.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Frequent customer
48,48,8,2295261,1,9,1,16,0.0,10258,5,...,3.0,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Frequent customer
49,49,8,2295261,1,9,1,16,0.0,12427,6,...,4.4,both,Regular busy,Busiest days,Most orders,Most orders,10,New customer,Low spender,Frequent customer
50,50,9,2550362,1,10,4,8,30.0,196,1,...,9.0,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
51,51,9,2550362,1,10,4,8,30.0,46149,2,...,13.4,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
52,52,9,2550362,1,10,4,8,30.0,39657,3,...,6.8,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
53,53,9,2550362,1,10,4,8,30.0,38928,4,...,12.6,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
54,54,9,2550362,1,10,4,8,30.0,25133,5,...,8.6,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
55,55,9,2550362,1,10,4,8,30.0,10258,6,...,3.0,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
56,56,9,2550362,1,10,4,8,30.0,35951,7,...,1.3,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
57,57,9,2550362,1,10,4,8,30.0,13032,8,...,4.0,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
58,58,9,2550362,1,10,4,8,30.0,12427,9,...,4.4,both,Least busy,Least busy,Average orders,Average orders,10,New customer,Low spender,Non-frequent customer
59,59,11,2168274,2,1,2,11,NaN,32792,1,...,5.2,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
60,60,11,2168274,2,1,2,11,NaN,47766,2,...,6.3,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
61,61,11,2168274,2,1,2,11,NaN,20574,3,...,2.3,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
62,62,11,2168274,2,1,2,11,NaN,12000,4,...,10.9,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
63,63,11,2168274,2,1,2,11,NaN,48110,5,...,2.7,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
64,64,11,2168274,2,1,2,11,NaN,22474,6,...,4.1,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
65,65,11,2168274,2,1,2,11,NaN,16589,7,...,5.0,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
66,66,11,2168274,2,1,2,11,NaN,35917,8,...,9.4,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
67,67,11,2168274,2,1,2,11,NaN,27344,9,...,14.8,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
68,68,11,2168274,2,1,2,11,NaN,30489,10,...,7.5,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
69,69,11,2168274,2,1,2,11,NaN,27966,11,...,4.4,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
70,70,11,2168274,2,1,2,11,NaN,13176,12,...,10.3,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
71,71,11,2168274,2,1,2,11,NaN,45066,13,...,2.5,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,NaN
72,72,12,1501582,2,2,5,10,10.0,16797,1,...,1.3,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
73,73,12,1501582,2,2,5,10,10.0,47526,2,...,2.0,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
74,74,12,1501582,2,2,5,10,10.0,8479,3,...,3.5,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
75,75,12,1501582,2,2,5,10,10.0,47766,4,...,6.3,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
76,76,12,1501582,2,2,5,10,10.0,19051,5,...,3.9,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
77,77,12,1501582,2,2,5,10,10.0,8138,6,...,2.0,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
78,78,13,1901567,2,3,1,10,3.0,47766,1,...,6.3,both,Regular busy,Busiest days,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
79,79,13,1901567,2,3,1,10,3.0,32792,2,...,5.2,both,Regular busy,Busiest days,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
80,80,13,1901567,2,3,1,10,3.0,20574,3,...,2.3,both,Regular busy,Busiest days,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
81,81,13,1901567,2,3,1,10,3.0,7781,4,...,6.6,both,Regular busy,Busiest days,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
82,82,13,1901567,2,3,1,10,3.0,28874,5,...,6.2,both,Regular busy,Busiest days,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
83,83,14,738281,2,4,2,10,8.0,49451,1,...,7.1,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
84,84,14,738281,2,4,2,10,8.0,32792,2,...,5.2,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
85,85,14,738281,2,4,2,10,8.0,32139,3,...,7.5,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
86,86,14,738281,2,4,2,10,8.0,34688,4,...,5.8,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
87,87,14,738281,2,4,2,10,8.0,36735,5,...,8.9,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
88,88,14,738281,2,4,2,10,8.0,37646,6,...,9.1,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
89,89,14,738281,2,4,2,10,8.0,22829,7,...,5.5,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
90,90,14,738281,2,4,2,10,8.0,24852,8,...,12.3,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
91,91,14,738281,2,4,2,10,8.0,47209,9,...,4.0,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
92,92,14,738281,2,4,2,10,8.0,33276,10,...,10.8,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
93,93,14,738281,2,4,2,10,8.0,45613,11,...,12.6,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
94,94,14,738281,2,4,2,10,8.0,9681,12,...,2.0,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
95,95,14,738281,2,4,2,10,8.0,21150,13,...,5.9,both,Regular busy,Regular busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
96,96,15,1673511,2,5,3,11,8.0,47144,1,...,14.0,both,Regular busy,Least busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
97,97,15,1673511,2,5,3,11,8.0,5322,2,...,2.9,both,Regular busy,Least busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
98,98,15,1673511,2,5,3,11,8.0,17224,3,...,1.6,both,Regular busy,Least busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer
99,99,15,1673511,2,5,3,11,8.0,38656,4,...,3.4,both,Regular busy,Least busy,Most orders,Most orders,14,Regular customer,Low spender,Frequent customer

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [16]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

# Task

In [18]:
#2
df.groupby('department_id').mean(numeric_only=True)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,prices,max_order
department_id,,,,,,,,,,,,,,,
1,497110.740371,53399.004673,1.723109e+06,3272.185384,14.800024,2.795159,13.757543,11.939168,24306.993028,8.961588,0.535781,24308.569477,70.238919,7.748970,29.113350
2,475924.918349,51115.802752,1.756210e+06,3133.122018,17.091743,2.888073,13.419266,11.144401,28031.911927,8.522936,0.412844,28033.913761,6.000000,6.717431,32.789908
3,502324.318685,53968.635634,1.713073e+06,3307.733286,17.913544,2.766009,13.328797,10.827012,24357.855582,8.008106,0.634902,24359.410481,100.890907,7.832308,34.728678
4,499356.994286,53648.343362,1.709902e+06,3287.953050,17.893092,2.717505,13.423922,10.826381,27226.090311,7.943529,0.649208,27227.924761,63.602203,8.012721,34.328175
5,492200.403166,52869.591195,1.733367e+06,3241.935372,15.214270,3.134244,13.600737,10.212705,26380.078508,5.639774,0.559965,26382.034049,55.975277,8.158664,31.068098
6,479294.535962,51505.162346,1.724378e+06,3158.340757,15.382135,2.727029,13.515395,11.473469,22955.787149,9.644639,0.377875,22957.236704,55.463064,7.475709,30.108677
7,508338.850338,54609.256114,1.715484e+06,3346.748640,17.694027,2.816542,13.318646,10.862571,24814.064998,7.070071,0.653236,24815.670377,78.506775,7.756458,34.071150
8,496227.720703,53254.086669,1.668334e+06,3258.026202,16.458105,3.085517,13.858624,11.416488,24023.353585,7.970055,0.631155,24024.966599,40.643248,7.812957,32.863231
9,500238.066592,53739.338967,1.702576e+06,3293.172526,15.957363,2.706849,13.543122,11.825065,25146.176208,10.002481,0.457421,25147.847397,53.833482,7.339087,30.869452
10,499057.280909,53611.739091,1.677716e+06,3286.776364,20.091818,2.959091,13.366364,10.428983,17711.089091,8.680000,0.575455,17712.182727,39.727273,8.013909,38.578182
11,488873.616510,52520.241120,1.698489e+06,3219.946007,16.482026,2.894217,13.417093,11.604038,24301.770247,8.630009,0.332836,24303.369494,60.080989,8.057737,31.021313
12,491704.310990,52829.322863,1.709932e+06,3238.748095,15.615061,2.702379,13.471930,11.567630,23863.153695,8.499743,0.555556,23864.663862,74.467957,16.188594,30.594026
13,492159.362513,52878.712985,1.712543e+06,3240.928133,16.484023,2.850932,13.440079,11.210815,25467.029539,9.529443,0.350906,25468.740005,61.720422,7.971071,31.769422
14,511472.015838,54925.804379,1.700356e+06,3363.878589,17.524632,2.787778,13.247712,11.090625,26569.721644,9.145953,0.562724,26571.570172,105.915784,7.956672,34.113020
15,496924.082899,53384.103958,1.717515e+06,3271.196608,15.691875,2.764896,13.486374,11.786218,23606.422818,9.804504,0.450896,23607.923072,73.979672,7.545407,29.827627
16,498652.780950,53577.379984,1.713489e+06,3283.860657,18.014071,2.756158,13.330053,10.958056,25208.349862,7.417717,0.672574,25210.057320,78.767118,29.974266,35.033006
17,509105.801625,54676.110976,1.726139e+06,3349.234055,16.150593,2.873194,13.314586,11.942288,23954.434231,8.375644,0.419867,23956.052892,76.804933,7.329239,30.762595
18,505053.456138,54248.058032,1.695499e+06,3323.594253,19.602850,2.712944,13.334342,10.268180,25493.360532,10.571804,0.580322,25495.134453,89.574749,7.624311,38.150374
19,505128.065008,54272.436057,1.708674e+06,3326.509970,17.631340,2.777438,13.386276,10.717160,25307.235131,9.309315,0.579701,25308.907335,67.170696,4.252140,34.564116
20,513198.567187,55124.237421,1.712571e+06,3376.684446,17.138607,2.731616,13.418965,11.210669,25767.596124,8.816522,0.614901,25769.344158,62.516872,7.821662,33.706670
21,481226.595869,51703.601257,1.711532e+06,3169.734621,21.956893,2.850471,13.250561,10.391082,25582.028289,10.064661,0.401437,25583.828020,100.000000,8.419219,28.130220

As opposed to only showing the mean of the order_number column this line of code that was just run gives the mean of all columns within
the data frame that contain numeric values

In [20]:
#4
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [21]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [22]:
#5
ords_prods_merge.groupby('loyalty_flag')['prices'].agg(['mean', 'min', 'max', 'median', 'sum'])

                       mean  min      max  median          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0     7.4  106814042.2
New customer      13.294670  1.0  99999.0     7.4   83011787.2
Regular customer  12.495717  1.0  99999.0     7.4  198391693.2

New customers spend the most on average followed by regular sustomers followed by loyal customers

In [24]:
#6
mean_price_per_user = ords_prods_merge.groupby('user_id')['prices'].mean()
ords_prods_merge.loc[ords_prods_merge['user_id'].isin(mean_price_per_user[mean_price_per_user >= 10].index), 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['user_id'].isin(mean_price_per_user[mean_price_per_user < 10].index), 'spending_flag'] = 'Low spender'
ords_prods_merge['spending_flag'].value_counts(dropna=False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [25]:
ords_prods_merge.groupby('spending_flag')['prices'].mean()

spending_flag
High spender    222.343698
Low spender       7.780685
Name: prices, dtype: float64

I calculated the mean price of each user. then assigned the spending flag, finally I checked the value count per flag

In [27]:
# Step 1: Assign "Non-frequent customer" to users with a median > 20
ords_prods_merge.loc[ords_prods_merge['days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

# Step 2: Assign "Regular customer" to users with a median > 10 and <= 20
ords_prods_merge.loc[(ords_prods_merge['days_since_prior_order'] > 10) & (ords_prods_merge['days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

# Step 3: Assign "Frequent customer" to users with a median <= 10
ords_prods_merge.loc[ords_prods_merge['days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

# Step 4: Check the results
ords_prods_merge['order_frequency_flag'].value_counts(dropna=False)

order_frequency_flag
Frequent customer        19042466
Regular customer          6055803
Non-frequent customer     5230494
NaN                       2076096
Name: count, dtype: int64

Step 1: Assign "Non-frequent customer" to users with a median > 20
Step 2: Assign "Regular customer" to users with a median > 10 and <= 20
Step 3: Assign "Frequent customer" to users with a median <= 10
Step 4: Check the results

In [29]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merge.pkl'))

In [54]:
ords_prods_merge.head(5)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,match,Busiest day,Busiest days,Most orders,Busiest Hours,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,9.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
1,1,0,2539329,1,1,2,8,NaN,14084,2,...,12.5,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
2,2,0,2539329,1,1,2,8,NaN,12427,3,...,4.4,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
3,3,0,2539329,1,1,2,8,NaN,26088,4,...,4.7,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN
4,4,0,2539329,1,1,2,8,NaN,26405,5,...,1.0,both,Regular busy,Regular busy,Average orders,Average orders,10,New customer,Low spender,NaN